.body {
    text-align: center;
    cursor: pointer;
} 

.name {
    font-size: 20px;
    font-weight: bold;
}

.number {
  font-size: 20px;
  font-weight: bold;
}

.discprice {
    font-size: 18px;
}

.discount {
    font-size: 15px;
    color: red;
}

.price {
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}

/* Column container */
.rowcontainer {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 50%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Main column */
  .main {
    flex: 50%;
    background-color: white;
    padding: 20px;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 80%; /* Full width */
    height: fit-content;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .modal-content {
    padding: 40px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .heading {
      float: left;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }